body {
    padding-top: 40px;
    background-color: rgba(71, 156, 156, 0.85);
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    background-color: #eee;
}

.butt {
    margin-top: 5px;
}

.alert {
    margin-bottom: 0;
    margin-top: 10px;
}

.glyphicon.spinning {
    font-size: 63px;
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.h-192 {
    height: 192px;
}

.fa{
    font-size: 22px !important;
}

.nav > li {
    cursor: pointer;
}

.input-validation-error {
    border: 1px solid #a94442;
    background-color: #f2dede;
}

td:last-child{
    text-align: center;
}

.Accepted{
    color: green;
}

.Declined{
    color: red;
}