<div class="alert alert-warning search-err" role="alert" ng-if="all.errMsg" ng-cloak>
    <a href="" class="close" onclick="$('.search-err').hide()" aria-label="close">&times;</a> {{all.errMsg}}
</div>

<div id="booksContainer" class="container-fluid">

    <div class="row" ng-cloak ng-if="all.books[0]">
        <div class="col-md-6" ng-repeat="book in all.books track by $index">
            <div class="row" ng-cloak>
                <div class="col-md-4 h-192">
                    <a ng-href="{{book.link}}" target="_blank">
                <img class="img-responsive" ng-src="{{book.thumbnail || '/public/img/placeholder128.jpg'}}" on-error-src="/public/img/placeholder128.jpg">
            </a>
                </div>
                <div class="col-md-8">
                    <h4><strong><a ng-href="{{book.link}}" target="_blank"> {{book.title}} </a></strong></h4>
                    <div><strong>Author: {{book.author}} </strong></div>
                    <div>Publisher: {{book.publisher}}</div>
                    <div>Date: {{book.date}}, pages: {{book.pages}}.</div><br/>
                    <button ng-if="all.user['_id'] != book.owner && all.authenticated" type="button" class="btn btn-warning butt" ng-click="">Request book</button>
                    <button ng-if="all.user['_id'] == book.owner && all.authenticated" type="button" class="btn btn-danger butt" ng-click="">Delete book</button>
                </div>
            </div>
        </div>
    </div>

</div>