<h2>Hello <strong>{{prfl.user.name}}</strong></h2>

<hr/>

<form name="prfl.userForm" class="form-horizontal" novalidate>
    <div class="form-group">
        <label for="City" class="col-md-1 control-label">CITY :</label>
        <div class="col-md-5">
            <input type="text" class="form-control" id="City" placeholder="Your City" ng-model="prfl.user.city">
        </div>
    </div>
    <div class="form-group">
        <label for="State" class="col-md-1 control-label">STATE :</label>
        <div class="col-md-5">
            <input type="text" class="form-control" id="State" placeholder="Your State" ng-model="prfl.user.state">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-5">
            <button type="submit" class="btn btn-primary" ng-click="prfl.updateUser()">Update your profile</button>
        </div>
    </div>
</form>


<div class="alert alert-warning search-err" role="alert" ng-if="prfl.errMsg" ng-cloak>
    <a href="" class="close" onclick="$('.search-err').hide()" aria-label="close">&times;</a> {{prfl.errMsg}}
</div>

<div class="alert alert-success search-msg" role="alert" ng-if="prfl.msg" ng-cloak>
    <a href="" class="close" onclick="$('.search-msg').hide()" aria-label="close">&times;</a> {{prfl.msg}}
</div>

<hr/>
<h3>Incoming trade requests</h3>
<table class="table">
    <thead>
        <tr style="background-color: #d9edf7;">
            <th>#</th>
            <th>Status</th>
            <th>Book</th>
            <th>Customer</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #7dcaf1;" ng-repeat="tradeIn in prfl.user.tradeIn track by $index">
            <td>{{$index+1}}</td>
            <td><strong ng-class="tradeIn.status">{{tradeIn.status}}</strong></td>
            <td>{{tradeIn.title}}, {{tradeIn.author}}</td>
            <td>{{tradeIn.clientName}}</td>
            <td>
                <button type="button" class="btn btn-success" ng-click="prfl.changeStatus(tradeIn, 'Accepted')">Accept</button> 
                <button type="button" class="btn btn-danger" ng-click="prfl.changeStatus(tradeIn, 'Declined')">Decline</button>
            </td>
        </tr>
    </tbody>
</table>

<hr/>
<h3>Outgoing trade requests</h3>
<table class="table">
    <thead>
        <tr style="background-color: #d9edf7;">
            <th>#</th>
            <th>Status</th>
            <th>Book</th>
            <th>Owner</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #7dcaf1;" ng-repeat="tradeOut in prfl.user.tradeOut track by $index">
            <td>{{$index+1}}</td>
            <td><strong ng-class="tradeOut.status">{{tradeOut.status}}</strong></td>
            <td>{{tradeOut.title}}, {{tradeOut.author}}</td>
            <td>{{tradeOut.ownerName}}</td>
            <td><button type="button" class="btn btn-warning" ng-click="prfl.cancel(tradeOut.bookId)">Cancel</button></td>
        </tr>
    </tbody>
</table>